<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Descrição e autores -->
  <meta name="description" content="Dashboard de Aquapônia!!" />
  <meta name="keywords" content="Aquapônia, Peixe, Psicultura, Aquasense, Planta, eliharison" />
  <meta name="author" content="Technote" />

  <!-- Compartilhamento Links -->
  <meta property="og:url" content="https://eliharison.github.io/Aquasense-Web/" />
  <meta property="og:type" content="dashoboard" />
  <meta property="og:title" content="Aquasense" />
  <meta property="og:description" content="Venha conhecer o melhor dashoboard de Aquapônia!" />
  <meta property="og:image" itemprop="image" content="" />

  <!-- CSS normalize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

   <!-- Font Outfit -->
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
     href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
     rel="stylesheet"
   />

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <!-- Icones -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <!-- Favicon -->
  <link rel="icon" type="image/svg" href="imgs/image-favicon.svg" />

  <!-- Folha de estilo de CSS Linkado -->
  <link rel="stylesheet" href="/css/base.css" />
  <% if (url === '/') { %>
    <link rel="stylesheet" href="/css/landPage.css" />
  <% } else { %>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/components.css" />
  <% } %>

  <!-- Script Isotope -->
  <% if (url === '/dados') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <% } %>

  <title>Aquasense</title>
</head>

<body>