<header class="container p-0">
    <div class="row align-items-center">
      <div class="col-md-2 d-flex justify-content-center">
        <a class="nav-link" href="#">
          <img src="imgs/image-logo.svg" height="40" alt="AquaSense" />
<img src="imgs/image-logo-text.svg" height="40" alt="AquaSense" />
        </a>
      </div>
      <div class="col d-flex justify-content-between">
        <div class="d-flex align-items-center mx-4">
          <img src="imgs/image-profile.svg" alt="Imagem de perfil" class="mr-2" />
          <div class="ms-2">
            <h5 class="pt-3 mb-auto">Rodrigo</h5>
            <p class="text-primary">Admin</p>
          </div>
        </div>
        <nav class="navbar">
              <a class="nav-link btn btn-primary active px-5 mx-4" href="#"><i class="fas fa-home"></i> Início</a>
              <a class="nav-link btn btn-primary px-5 mx-4" href="#"><i class="fas fa-chart-line"></i> Dados</a>
              <a class="nav-link btn btn-primary px-5 mx-4" href="#"><i class="fas fa-cog"></i> Configurações</a>
              <a class="nav-link btn btn-primary px-5 mx-4" href="/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
        </nav>
      </div>
    </div>
  </header>
  