<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container my-4">
    <div class="row modal__main justify-content-center">
        <div class="col-md-6">
            <div class="row text-center my-4">
                <h1 class="modal__main__title fw-semibold">Família</h1>
            </div>
            <div class="config__family__images">
                <img src="/imgs/icons/icon-add.svg" alt="Profile Image">
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center">
            <div class="config__profile rounded-circle"><img src="/imgs/image-profile.svg" class="config__profile__image rounded-circle align-self-center"  alt="Profile"></div>
            <div class="d-flex flex-column">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Configurações</h1>
        </div>
        <div class="card-body">
            <form action="/upload-imagem" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="imagem">Imagem de Perfil:</label>
                    <input type="file" id="imagem" name="imagem" accept="image/*">
                </div>
                <div class="form-group">
                    <img src="<%= user.image %>" alt="Imagem do Usuário">
                </div>
                <button type="submit">Enviar Imagem</button>
            </form>
        </div>
    </div>
</div>

<script>
    let angulo = 0;

    function rotacionarImagem() {
        angulo += 90;
        const radianos = angulo * Math.PI / 180;
        const cos = Math.cos(radianos);
        const sin = Math.sin(radianos);

        const transformMatrix = `matrix(${cos}, ${sin}, ${-sin}, ${cos}, 0, 0)`;

        document.getElementById('imagem').style.transform = transformMatrix;
    }
</script>

<%- include('partials/foot.ejs') %>