<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container my-4">
    <div class="row modal__main justify-content-center">
        <div class="col-md-6">
            <div class="row text-center my-4">
                <h1 class="modal__main__title fw-semibold">Familia</h1>
              </div>
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div><img src="" alt=""></div>
            <div class="d-flex flex-column">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
        </div>
    </div>
</div>

<script>
    let angulo = 0;

    function rotacionarImagem() {
        angulo += 90;
        const radianos = angulo * Math.PI / 180;
        const cos = Math.cos(radianos);
        const sin = Math.sin(radianos);

        const transformMatrix = `matrix(${cos}, ${sin}, ${-sin}, ${cos}, 0, 0)`;

        document.getElementById('imagem').style.transform = transformMatrix;
    }
</script>

<%- include('partials/foot.ejs') %>