<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container">
    <canvas id="chart"></canvas>
</div>

<script src="../node_modules/chart.js/dist/Chart.js"></script>

<%- include('partials/foot.ejs') %>