<%- include ("partials/head.ejs") %>
<header class="navbar header">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="imgs/image-logo-bar.svg" alt="Logo-Aquasense"
    /></a>
    <a href="/login"><button id="btn__nav" class="btn btn-light">Abrir DashSense</button></a>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="container__main col-md-6 text-white mt-5 mb-5 p-3">
        <h1>E se Você...</h1>
        <p>
          Mergulhar na experiência de cultivar suas plantas enquanto observa
          cada crescimento com precisão e tranquilidade, conectando-se
          intimamente com a natureza através da tecnologia.
        </p>
        <a href="/login"
          ><button class="btn btn-light">Abrir DashSense</button></a
        >
      </div>
      <div class="image__header col-md-6 mt-5 mb-5 p-3">
        <img
          src="imgs/image-header.svg"
          alt="Image Aquaponia"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</header>
<main class="container-fluid mt-5">
  <section class="section section-1">
    <div class="col-md-6">
      <div class="mt-5 mb-5 mx-10 p-3">
          <h1>Desempenho otimizado</h1>
          <p>
            Mergulhe na experiência de cultivar suas plantas enquanto observa
            cada crescimento com precisão e tranquilidade, conectando-se
            intimamente com a natureza através da tecnologia.
          </p>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="imgs/image-general-features.svg"
        alt="Caracteristicas-Gerais"
        class="img-fluid"
      />
    </div>
  </section>

  <section class="section section-2">
    <div class="col-md-6">
      <h1>Feedback Rapido</h1>
      <p>
        Mergulhe na experiência de cultivar suas plantas enquanto observa cada
        crescimento com precisão e tranquilidade, conectando-se intimamente com
        a natureza através da tecnologia.
      </p>
    </div>
    <div class="col-md-6">
      <img
        src="imgs/image-fast-feedback.svg"
        alt="Feedback-Rapido"
        class="img-fluid"
      />
    </div>
  </section>

  <section class="section section-3">
    <div class="col-md-6">
          <h1>Exporte o seus Dados</h1>
          <p>
            Mergulhe na experiência de cultivar suas plantas enquanto observa
            cada crescimento com precisão e tranquilidade, conectando-se
            intimamente com a natureza através da tecnologia.
          </p>
    </div>
    <div class="col-md-6">
      <img
        src="imgs/image-data-export.svg"
        alt="Exportação de dados"
        class="img-fluid"
      />
    </div>
  </section>

  <section class="section section-4">
    <div class="col-md-10"> 
          <h1>Equilibrio da natureza com eficiencia</h1>
          <p>
            Mergulhe na experiência de cultivar suas plantas enquanto observa
            cada crescimento com precisão e tranquilidade, conectando-se
            intimamente com a natureza através da tecnologia.
          </p>
    </div>
    <div class="col-md-10">
      <img src="imgs/image-balance.svg" alt="Equilibrio" class="img-fluid" />
    </div>
  </section>

  <section class="section section-5">
    <div class="col-md-6 section__button">
        <h1>Vamos melhorar seu cultivo?</h1>
        <button class="btn btn-primary btn-lg">Saiba mais</button>
    </div>
  </section>
</main>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="imgs/image-logo-footer.svg" alt="logo" />
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Tecnologias</h6>
        <ul class="footer-links">
          <li><a href="">UI Design</a></li>
          <li><a href="">JavaScript</a></li>
          <li><a href="">MongoDB</a></li>
          <li><a href="">Express</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="">Sobre Nós</a></li>
          <li><a href="">Doar</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2024 All Rights Reserved by <a href="#">Technote</a>.
        </p>
        <p class="copyright-text">
          Some arts designed by <a href="https://www.freepik.com/">Freepik</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<%- include ("partials/foot.ejs") %>
