<%- include ("partials/head.ejs") %>
  <header class="navbar header">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="imgs/image-logo-bar.svg" alt="Logo-Aquasense" /></a>
      <a href="/login"><button id="btn__nav" class="btn btn-light">Abrir DashSense</button></a>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="container__main col-md-6 text-white mt-5 mb-5 p-3">
          <h1>E se Você...</h1>
          <p class="text-white">
            Mergulhar na experiência de cultivar suas plantas enquanto observa
            cada crescimento com precisão e tranquilidade, conectando-se
            intimamente com a natureza através da tecnologia.
          </p>
          <a href="/login"><button class="btn btn-light">Abrir DashSense</button></a>
        </div>
        <div class="image__header col-md-6 mt-5 mb-5 p-3">
          <img src="imgs/image-header.svg" alt="Image Aquaponia" class="img-fluid" />
        </div>
      </div>
    </div>
  </header>
  <main class="container-fluid mt-5">
    <section class="section section-1">
      <div class="col-md-6">
        <div class="mt-5 mb-5 mx-10 p-3">
          <h1>Desempenho otimizado</h1>
          <p>
            Monitore o crescimento das suas plantas em tempo real com nosso sistema. Tenha acesso a dados
            precisos e atualizados, permitindo ajustes rápidos e eficazes para otimizar a saúde e produtividade das suas
            plantas.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <img src="imgs/image-general-features.svg" alt="Caracteristicas-Gerais" class="img-fluid" />
      </div>
    </section>

    <section class="section section-2">
      <div class="col-md-6">
        <h1>Feedback Rapido</h1>
        <p>
          O sistema Aquasense fornece feedback em tempo real sobre o desempenho das suas plantas, permitindo que você
          tome decisões rápidas e eficazes para manter a saúde e produtividade das suas plantas.
        </p>
      </div>
      <div class="col-md-6">
        <img src="imgs/image-fast-feedback.svg" alt="Feedback-Rapido" class="img-fluid" />
      </div>
    </section>

    <section class="section section-3">
      <div class="col-md-6">
        <h1>Exporte o seus Dados</h1>
        <p>
          Permitimos que você exporte os dados de desempenho das suas plantas em formato de arquivo
          para análise posterior ou compartilhamento com outros profissionais.
        </p>
      </div>
      <div class="col-md-6">
        <img src="imgs/image-data-export.svg" alt="Exportação de dados" class="img-fluid" />
      </div>
    </section>

    <section class="section section-4">
      <div class="col-md-10">
        <h1>Equilibrio da natureza com eficiencia</h1>
        <p>
          Fornecemos dados precisos e atualizados sobre o desempenho das suas plantas, permitindo que
          você tome decisões rápidas e eficazes para manter a saúde e produtividade das suas plantas, sem prejudicar o
          equilibrio da natureza.
        </p>
      </div>
      <div class="col-md-10">
        <img src="imgs/image-balance.svg" alt="Equilibrio" class="img-fluid" />
      </div>
    </section>

    <section class="section section-5">
      <div class="col-md-6 section__button">
        <h1>Vamos melhorar seu cultivo?</h1>
        <a href="/login"><button class="btn btn-primary btn-lg">Saiba mais</button></a>
      </div>
    </section>
  </main>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <img src="imgs/image-logo-footer.svg" alt="logo" />
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Tecnologias</h6>
          <ul class="footer-links">
            <li><a href="">UI Design</a></li>
            <li><a href="">JavaScript</a></li>
            <li><a href="">MongoDB</a></li>
            <li><a href="">Express</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Links</h6>
          <ul class="footer-links">
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Doar</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">
            Copyright &copy; 2024 All Rights Reserved by <a href="#">Technote</a>.
          </p>
          <p class="copyright-text">
            Some arts designed by <a href="https://www.freepik.com/">Freepik</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li>
              <a class="github" href="https://linktr.ee/aquasensepi"><i class="bi bi-github"><svg
                    xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-github"
                    viewBox="0 0 16 18">
                    <path
                      d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                  </svg></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <%- include ("partials/foot.ejs") %>