<%- include ("partials/head.ejs") %>
<header class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="" alt="Logo-Aquasense"></a>
    <button class="btn btn-primary">Abrir DashSense</button>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h1>E se Você...</h1>
        <p>Mergulhar na experiência de cultivar suas plantas enquanto observa cada crescimento com precisão e tranquilidade, conectando-se intimamente com a natureza através da tecnologia.</p>
        <button class="btn btn-primary">Abrir DashSense</button>
      </div>
      <div class="col-md-6">
        <img src="" alt="Image Aquaponia" class="img-fluid">
      </div>
    </div>
  </div>
</header>
<main class="container mt-5">
  <section class="row">
    <div class="col-md-6">
      <div class="">
        <div class="">
          <h1>Melhoramento na avaliação do desempenho do cultivo</h1>
        </div>
        <div class="">
          <p>Mergulhe na experiência de cultivar suas plantas enquanto observa cada crescimento com precisão e tranquilidade, conectando-se intimamente com a natureza através da tecnologia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="" alt="Caracteristicas-Gerais" class="img-fluid">
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <div class="">
        <div class="">
          <h1>Feedback Rapido</h1>
        </div>
        <div class="">
          <p>Mergulhe na experiência de cultivar suas plantas enquanto observa cada crescimento com precisão e tranquilidade, conectando-se intimamente com a natureza através da tecnologia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="" alt="Feedback-Rapido" class="img-fluid">
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <div class="">
        <div class="">
          <h1>Exporte o seus Dados</h1>
        </div>
        <div class="">
          <p>Mergulhe na experiência de cultivar suas plantas enquanto observa cada crescimento com precisão e tranquilidade, conectando-se intimamente com a natureza através da tecnologia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="" alt="Exportação de dados" class="img-fluid">
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <div class="">
        <div class="">
          <h1>Equilibrio da natureza com eficiencia</h1>
        </div>
        <div class="">
          <p>Mergulhe na experiência de cultivar suas plantas enquanto observa cada crescimento com precisão e tranquilidade, conectando-se intimamente com a natureza através da tecnologia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="" alt="Equilibrio" class="img-fluid">
    </div>
  </section>

  <section class="row">
    <div class="col-md-6">
      <div class="">
        <div class="">
          <h1>Vamos melhorar seu cultivo?</h1>
        </div>
        <div class="">
          <button class="btn btn-primary">Saiba mais</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      </div>
  </section>
</main>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <img src="" alt="logo">
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Tecnologias</h6>
        <ul class="footer-links">
          <li><a href="">UI Design</a></li>
          <li><a href="">JavaScript</a></li>
          <li><a href="">MongoDB</a></li>
          <li><a href="">Express</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="">Sobre Nós</a></li>
          <a href="">Doar</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
          <a href="#">Technote</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<%- include ("partials/foot.ejs") %>