<%- include ("partials/head.ejs") %>
<div class="all">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <img src="imgs/image-logo-footer.svg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1 class="">Login</h1>
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
            />
            <div id="emailHelp" class="form-text">
              Nunca compartilharemos seu e-mail com ninguém.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
            <a href="#" class="btn btn-outiline-link ">Criar conta</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include ("partials/foot.ejs") %>
