section.modal--auth {
  background-color: var(--cinza-claro);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 1.125rem;
}


div.modal__container--auth {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.container__image--auth {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  flex: 1;
  padding: 0 0 2rem 0;
}

div.container__image--auth img {
  max-width: 25%;
  flex: 1;
  height: 150px;
}

div.image__bars--auth {
  display: none;
}

div.container__form--auth {
  flex: 1;
}

div.container__form__title--auth h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.form-control {
  border-radius: 5px;
  margin-bottom: 20px;
}

a.nav__btn {
 width: 200px;
}

.nav-link {
  transition: background-color 0.3s, border 0.3s, color 0.3s; 
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1rem;
}

.nav-link:hover {
  background-color: var(--cinza-claro); 
  border: #0184ff 1px solid;
  color: #0184ff;
}


.btn-primary {
  border-radius: 5px;
  padding: 10px;
}
.form__btn__secondary {
  text-align: center;
  margin-top: 10px;
}

@media (min-width: 660px) {
  .container__image--auth {
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
  }

  .container__image--auth img {
    width: 150px;
    height: 150px;
    max-width: none;
  }
}

@media (min-width: 840px) {
  section.modal--auth {
    background: radial-gradient(#72bbff, #0184ff);
  }

  .login-form {
    padding: 0;
  }

  div.modal__container--auth {
    max-width: 80vw;
    padding: 3rem;
    background-color: var(--cinza-claro);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 990px) {
  div.modal__container--auth {
    flex-direction: row;
  }

  div.container__image--auth {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 300px;
  }

  div.container__image--auth img {
    width: 300px;
    height: 300px;
    max-width: none;
  }
}

@media (min-width: 1240px) {
  div.container__image--auth {
    height: 300px;
    width: 300px;
  }

  div.container__image--auth img {
    width: 300px;
    height: 300px;
    
  }
}

@media (min-width: 1600px) {
  div.modal__container--auth {
    max-width: 1240px;
    padding: 0 5rem 0 0;
  }

  div.image__bars--auth {
    display: block;
  }

  div.container__image--auth img {
    padding-left: 75px;
  }
}


.general-characteristics {
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.general-characteristics__item {
  text-align: center;
  flex: 1;
}

.general-characteristics__item--ammonia .general-characteristics__label {
  color: #bfae32;
}

.general-characteristics__item--temperature .general-characteristics__label {
  color: #d9534f;
}

.general-characteristics__item--ph .general-characteristics__label {
  color: #5bc0de;
}

.general-characteristics__label {
  display: block;
  font-weight: bold;
}

.general-characteristics__value {
  display: block;
  font-size: 1.5em;
}

.water-level, .oxygen-level {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  margin-top: 20px;
}

.water-level__label, .oxygen-level__label {
  display: block;
  font-weight: bold;
}

.water-level__value, .oxygen-level__value {
  display: block;
  font-size: 2em;
  color: #007bff;
}

.water-level__total, .oxygen-level__recommendation {
  display: block;
  font-size: 0.8em;
  color: #6c757d;
}

.modal__main {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px rgba(92, 92, 92, 0.537);
}

.status {
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
}

.status__icon {
  font-size: 3em;
}

.status__text {
  display: block;
  font-size: 1.5em;
  margin-top: 10px;
}