:root {
  --cor-primaria: #003DA5; 
  --cinza-claro: #f2f2f2; 
  --cinza-escuro: #26272b; 
  --branco: #fff; 
  --cinza-texto: #737373; 
  --verde-link: #3366cc; 
}

/* Cabeçalho */
header {
  background-color: var(--cor-primaria);
  height: 85vh;
}

.navbar {
  align-content: flex-start;
}

.container__main {
  align-self: center;
}

/* Seções */
section {
  padding: 30px;
}

/* 1ª Seção - Imagem à esquerda, Texto à direita */
.section-1 {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
}

.section-1 p {
  flex: 1;
}

/* 2ª Seção - Background cinza, Texto à esquerda, Imagem à direita */
.section-2 {
  background-color: var(--cinza-claro);
  display: flex;
  align-items: center;
}

.section-2 p {
  flex: 1;
}

/* 3ª Seção - Imagem à esquerda, Texto à direita */
.section-3 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.section-3 p {
  flex: 1;
}

/* 4ª Seção - Background cinza, Texto sobre a imagem */
.section-4 {
  display: flex;
  background-color: var(--cinza-claro);
  position: relative;
  flex-direction: column;
  align-items: center;
}

.section-4 img {
  width: 100%;
  height: auto;
}

/* 5ª Seção - Texto acima do botão */
.section-5 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.section-5 p {
  margin-bottom: 20px;
}

/* Estilos para botões */
.btn {
  padding: 10px 20px; 
  font-size: 16px; 
}

/* Rodapé */
.site-footer {
  background-color: var(--cinza-escuro);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: var(--cinza-texto);
}

.site-footer hr {
  border-top-color: var(--cinza-claro);
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: var(--branco);
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: var(--cinza-texto);
}

.site-footer a:hover {
  color: var(--verde-link);
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: var(--cinza-texto);
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: var(--verde-link);
  text-decoration: none;
}

.footer-links.inline li {
  display:inline-block
}
.site-footer .social-icons {
  text-align:right
}

.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

.copyright-text {
  margin:0
}

.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a {
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.linkedin:hover {
  background-color:#007bb6
}
.social-icons a.dribbble:hover {
  background-color:#ea4c89
}

/*  Media*/

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .section-1 {
    flex-direction: column;
  }

  .section-2 {
    flex-direction: column-reverse;
  }

  .section-3 {
    flex-direction: column;
  }

  .section-4 {
    flex-direction: column-reverse;
  }

  .image__header {
    display: none;
  }

  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
